<section class="comedians-container">
  <% @comedians.each do |comedian| %>
    <section class="comedians" id="comedian-index-<%= comedian.id %>">
      <%= comedian.name %>
      <%= comedian.age %>
      <%= comedian.city %>
    </section>
      <% comedian.specials.each do |special| %>
        <section id="comedian-specials-<%= special.id %>">
          <%= special.name %>
          <%= special.run_time %>
        </section>
      <% end %>
    <% end %>
</section>
