<section class="comedians-container">
  <% @comedians.each do |comedian| %>
    <div id="comedian-index-<%= comedian.id %>">
      <ul>
        <li>Name: <%= comedian.name %></li>
        <li>Age: <%= comedian.age %></li>
        <li>Birthplace: <%= comedian.city %></li>
        <li>Number of Specials: <%= comedian.specials_count %></li>
      </ul>
      <img class="face-pic" id="comedian-face-<%= comedian.id %>" src="<%= comedian.image %>"/>
    </div>
      <% comedian.specials.each do |special| %>
        <div id="comedian-specials-<%= special.id %>">
          <ul>
            <li>Special Name: <%= special.name %></li>
            <li>Run Time (in minutes): <%= special.run_time %></li>
          </ul>
        </div>
      <% end %>
    <% end %>
</section>

<section class=add-new-comedian>
  <%= button_to "Add New Comedian", comedians_new_path, method: :get %>
</section>
