<section class=comedian-show>
  <div class="comedian-showpage-info">
    <ul>
      <li>Name: <%= @comedian.name %></li>
      <li>Age: <%= @comedian.age %></li>
      <li>City: <%= @comedian.city %></li>
    </ul>
  </div>
  <div class="comedian-specials-show">
    <% @comedian.specials.each do |special| %>
    <ul>
      <li>Special Name: <%= special.name %></li>
      <li>Run Time in Minutes: <%= special.run_time %></li>
    </ul>
    <% end %>
  </div>
</section>
