<section class="comedian-show">
  <h2>Name: <%= @comedian.name %></h2>
  <h4>Age: <%= @comedian.age %></h4>
  <h4>City: <%= @comedian.city %></h4>
  <img id="face-pic" src="<%= @comedian.image %>"/>
</section>
  <% @comedian.specials.each do |special| %>
  <div class="comedian-specials-show">
    <h4>Special Name: <%= special.name %></h4>
    <h4>Run Time in Minutes: <%= special.run_time %></h4>
  </div>
  <% end %>
